In [60]:
# Import the Dataset

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math

%matplotlib inline

In [98]:

# Load the Dataset
AdvWorksCusts = pd.read_csv('AdvWorksCusts.csv', header=None)

In [68]:
# Check Datatypes for each Column
AdvWorksCusts.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
dtype: object

In [69]:
# Make first row the header

new_header = AdvWorksCusts.iloc[0] #grab the first row for the header
AdvWorksCusts = AdvWorksCusts[1:] #take the data less the header row
AdvWorksCusts.columns = new_header #set the header row as the df header

In [70]:
# Check Datatypes for each Column
AdvWorksCusts.dtypes

0
CustomerID              object
Title                   object
FirstName               object
MiddleName              object
LastName                object
Suffix                  object
AddressLine1            object
AddressLine2            object
City                    object
StateProvinceName       object
CountryRegionName       object
PostalCode              object
PhoneNumber             object
BirthDate               object
Education               object
Occupation              object
Gender                  object
MaritalStatus           object
HomeOwnerFlag           object
NumberCarsOwned         object
NumberChildrenAtHome    object
TotalChildren           object
YearlyIncome            object
dtype: object

In [71]:
# Inspect the Dataset

AdvWorksCusts.describe()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
count,16519,88,16519,9534,16519,2,16519,276,16519,16519,...,16519,16519,16519,16519,16519,16519,16519,16519,16519,16519
unique,16404,5,662,44,363,1,11879,154,270,52,...,7896,5,5,2,2,2,5,6,6,15482
top,15531,Mr.,Isabella,A,Diaz,Jr.,Attaché de Presse,Verkaufsabteilung,London,California,...,1966-03-18,Bachelors,Professional,M,M,1,2,0,0,65193
freq,2,43,87,1149,191,2,16,28,379,3973,...,10,4792,4963,8351,8917,11132,5786,9990,4267,4

In [72]:
# Inspect the Dataset
AdvWorksCusts.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,1966-04-08,Bachelors,Professional,M,M,1,0,0,2,137947
2,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,1965-05-14,Bachelors,Professional,M,S,0,1,3,3,101141
3,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,1965-08-12,Bachelors,Professional,M,M,1,1,3,3,91945
4,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,1968-02-15,Bachelors,Professional,F,S,0,1,0,0,86688
5,11004,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,...,1968-08-08,Bachelors,Professional,F,S,1,4,5,5,92771

In [73]:
# Inspection the Dataset
print(AdvWorksCusts.shape)

(16519, 23)

In [40]:
# Check for duplicate rows

print(AdvWorksCusts.shape)
print(AdvWorksCusts.CustomerID.unique().shape)

(16519, 23)
(16404,)

In [74]:
# Remove Duplicate Rows

AdvWorksCusts.drop_duplicates(subset = 'CustomerID', keep = 'first', inplace = True)
print(AdvWorksCusts.shape)
print(AdvWorksCusts.CustomerID.unique().shape)

(16404, 23)
(16404,)

In [26]:
# The first column is customer_id, which is an identifier. We will drop this since this is not a feature.

AdvWorksCusts.drop(['CustomerID'], axis=1, inplace=True)
print(AdvWorksCusts.shape)
AdvWorksCusts.head()

(16519, 22)

,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,CountryRegionName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,Australia,...,1966-04-08,Bachelors,Professional,M,M,1,0,0,2,137947
2,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,Australia,...,1965-05-14,Bachelors,Professional,M,S,0,1,3,3,101141
3,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,Australia,...,1965-08-12,Bachelors,Professional,M,M,1,1,3,3,91945
4,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,Australia,...,1968-02-15,Bachelors,Professional,F,S,0,1,0,0,86688
5,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,Australia,...,1968-08-08,Bachelors,Professional,F,S,1,4,5,5,92771

In [75]:
# Special Characters (Replace Special Characters)
AdvWorksCusts.columns = [str.replace('-', '_') for str in AdvWorksCusts.columns]
AdvWorksCusts.columns = [str.replace(',', '_') for str in AdvWorksCusts.columns]
AdvWorksCusts.columns = [str.replace('*', '_') for str in AdvWorksCusts.columns]
AdvWorksCusts.columns = [str.replace('/', '_') for str in AdvWorksCusts.columns]
AdvWorksCusts.columns = [str.replace('|', '_') for str in AdvWorksCusts.columns]
AdvWorksCusts.columns = [str.replace('@', '_') for str in AdvWorksCusts.columns]
AdvWorksCusts.columns = [str.replace('!', '') for str in AdvWorksCusts.columns]

In [55]:
# The first column is customer_id, which is an identifier. We will drop this since this is not a feature.

AdvWorksCusts.drop(['CustomerID'], axis=1, inplace=True)
print(AdvWorksCusts.shape)
AdvWorksCusts.head()

(16404, 22)

,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,CountryRegionName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,Australia,...,1966-04-08,Bachelors,Professional,M,M,1,0,0,2,137947
2,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,Australia,...,1965-05-14,Bachelors,Professional,M,S,0,1,3,3,101141
3,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,Australia,...,1965-08-12,Bachelors,Professional,M,M,1,1,3,3,91945
4,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,Australia,...,1968-02-15,Bachelors,Professional,F,S,0,1,0,0,86688
5,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,Australia,...,1968-08-08,Bachelors,Professional,F,S,1,4,5,5,92771

In [76]:
# Check for ? Missing Values
# Treat missing values
# Carefully observe the first few cases from the data frame 
# and notice that sometimes missing values are coded with a '?' character.

(AdvWorksCusts.astype(np.object) == '?').any()

CustomerID              False
Title                   False
FirstName               False
MiddleName              False
LastName                False
Suffix                  False
AddressLine1            False
AddressLine2            False
City                    False
StateProvinceName       False
CountryRegionName       False
PostalCode              False
PhoneNumber             False
BirthDate               False
Education               False
Occupation              False
Gender                  False
MaritalStatus           False
HomeOwnerFlag           False
NumberCarsOwned         False
NumberChildrenAtHome    False
TotalChildren           False
YearlyIncome            False
dtype: bool

In [77]:
# Check Datatypes for each Column
AdvWorksCusts.dtypes

CustomerID              object
Title                   object
FirstName               object
MiddleName              object
LastName                object
Suffix                  object
AddressLine1            object
AddressLine2            object
City                    object
StateProvinceName       object
CountryRegionName       object
PostalCode              object
PhoneNumber             object
BirthDate               object
Education               object
Occupation              object
Gender                  object
MaritalStatus           object
HomeOwnerFlag           object
NumberCarsOwned         object
NumberChildrenAtHome    object
TotalChildren           object
YearlyIncome            object
dtype: object

In [78]:
# Look at the DataSet
AdvWorksCusts.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,1966-04-08,Bachelors,Professional,M,M,1,0,0,2,137947
2,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,1965-05-14,Bachelors,Professional,M,S,0,1,3,3,101141
3,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,1965-08-12,Bachelors,Professional,M,M,1,1,3,3,91945
4,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,1968-02-15,Bachelors,Professional,F,S,0,1,0,0,86688
5,11004,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,...,1968-08-08,Bachelors,Professional,F,S,1,4,5,5,92771

In [79]:
# Count Missing Values Per Column

for col in AdvWorksCusts.columns:
    if AdvWorksCusts[col].dtype == object:
        count = 0
        count = [count + 1 for x in AdvWorksCusts[col] if x == '?']
        print(col + ' ' + str(sum(count)))

CustomerID 0
Title 0
FirstName 0
MiddleName 0
LastName 0
Suffix 0
AddressLine1 0
AddressLine2 0
City 0
StateProvinceName 0
CountryRegionName 0
PostalCode 0
PhoneNumber 0
BirthDate 0
Education 0
Occupation 0
Gender 0
MaritalStatus 0
HomeOwnerFlag 0
NumberCarsOwned 0
NumberChildrenAtHome 0
TotalChildren 0
YearlyIncome 0

In [80]:
# Convert Columns to Numeric

cols = ['HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome',
          'TotalChildren', 'YearlyIncome']

for column in cols:
    AdvWorksCusts[column] = pd.to_numeric(AdvWorksCusts[column])
AdvWorksCusts[cols].dtypes

HomeOwnerFlag           int64
NumberCarsOwned         int64
NumberChildrenAtHome    int64
TotalChildren           int64
YearlyIncome            int64
dtype: object

In [81]:
# Check Datatypes for each Column
AdvWorksCusts.dtypes

CustomerID              object
Title                   object
FirstName               object
MiddleName              object
LastName                object
Suffix                  object
AddressLine1            object
AddressLine2            object
City                    object
StateProvinceName       object
CountryRegionName       object
PostalCode              object
PhoneNumber             object
BirthDate               object
Education               object
Occupation              object
Gender                  object
MaritalStatus           object
HomeOwnerFlag            int64
NumberCarsOwned          int64
NumberChildrenAtHome     int64
TotalChildren            int64
YearlyIncome             int64
dtype: object

In [84]:
# Count Missing Values Per Column

for col in AdvWorksCusts.columns:
    if AdvWorksCusts[col].dtype == object:
        count = 0
        count = [count + 1 for x in AdvWorksCusts[col] if x == '?']
        print(col + ' ' + str(sum(count)))

CustomerID 0
Title 0
FirstName 0
MiddleName 0
LastName 0
Suffix 0
AddressLine1 0
AddressLine2 0
City 0
StateProvinceName 0
CountryRegionName 0
PostalCode 0
PhoneNumber 0
BirthDate 0
Education 0
Occupation 0
Gender 0
MaritalStatus 0

In [83]:
# Check for Missing Values
AdvWorksCusts.isnull()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
27,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
28,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
29,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
30,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16479,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16480,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16481,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16482,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16483,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16484,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16485,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16486,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16487,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16488,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16489,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16490,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16491,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16492,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16493,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16494,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16495,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16496,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16497,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16498,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16499,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16500,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16501,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16502,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16503,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16504,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16505,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16506,False,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16507,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
16508,False,True,False,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
# Drop Columns not needed

AdvWorksCusts.drop(['B', 'C'], axis=1)

In [93]:
# Select the Last 10 Columns 

AdvWorksCusts = AdvWorksCusts[AdvWorksCusts.columns[-10:]]

In [94]:
AdvWorksCusts.head()

,13,14,15,16,17,18,19,20,21,22
0,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,1966-04-08,Bachelors,Professional,M,M,1,0,0,2,137947
2,1965-05-14,Bachelors,Professional,M,S,0,1,3,3,101141
3,1965-08-12,Bachelors,Professional,M,M,1,1,3,3,91945
4,1968-02-15,Bachelors,Professional,F,S,0,1,0,0,86688

In [101]:
# Check Datatypes for each Column
AdvWorksCusts.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
dtype: object

In [105]:
# Convert Columns to Numeric

cols = ['HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome',
          'TotalChildren', 'YearlyIncome']

for column in cols:
    AdvWorksCusts[column] = pd.to_numeric(AdvWorksCusts[column])
AdvWorksCusts[cols].dtypes

KeyError: 'HomeOwnerFlag'